# Dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Secrets
serviceAccountKey.json
google-services.json
GoogleService-Info.plist

# IDE / System
.vscode/
.idea/
.DS_Store
*.log
